DATABASE_URL="mysql://root:@localhost:3306/angket_rpl"
JWT_SECRET="change-me-in-production-use-strong-random-string"
JWT_EXPIRES_IN="8h"
PORT=4100
CLIENT_URL="http://localhost:5273"
NODE_ENV="development"
